In [1]:
sd<-read.csv("../Data_Project/서울대전5일(연휴앞뒤2일)_날짜.csv")
traffic <- read.csv("../Data_Project/서울대전+1-2종출구교통량.csv")
popCar <- read.csv("../Data_Project/인구수자동차수.csv")

popCar <- popCar[,-1]
popCar

sd <- cbind(sd, traffic[,5:6]) 
sd$날짜 <- as.Date(sd$날짜)
# sd <- sd[,-5]

sd$서울인구수 <- c(rep(popCar$서울인구수[1],120), rep(popCar$서울인구수[2],120), rep(popCar$서울인구수[3],120),
              rep(popCar$서울인구수[4],120), rep(popCar$서울인구수[5],120), rep(popCar$서울인구수[6],120),
              rep(popCar$서울인구수[7],120), rep(popCar$서울인구수[8],120)
             )
sd$승용차 <- c(rep(popCar$승용차[1],120), rep(popCar$승용차[2],120), rep(popCar$승용차[3],120),
              rep(popCar$승용차[4],120), rep(popCar$승용차[5],120), rep(popCar$승용차[6],120),
              rep(popCar$승용차[7],120), rep(popCar$승용차[8],120)
             )
sd$승합차 <- c(rep(popCar$승합차[1],120), rep(popCar$승합차[2],120), rep(popCar$승합차[3],120),
              rep(popCar$승합차[4],120), rep(popCar$승합차[5],120), rep(popCar$승합차[6],120),
              rep(popCar$승합차[7],120), rep(popCar$승합차[8],120)
             )

tail(sd)
str(sd)

rownames(sd) <- c()

  년도 서울인구수 승용차  승합차 차합계
1 2013 10388055   2462515 156871 2619386
2 2014 10369593   2510742 149991 2660733
3 2015 10297138   2560154 141927 2702081
4 2016 10204057   2598344 134309 2732653
5 2017 10124579   2641190 127564 2768754
6 2018 10049607   2658637 120780 2779417
7 2019 10010983   2670803 114310 2785113
8 2020  9911088   2711984 106504 2818488

    일차 출발시간 소요시간 날짜       눈비  X1종출구교통량합계
955 4    22        97      2020-01-27 FALSE 48472139
956 0    23       179      2020-01-23 FALSE 30762106
957 1    23        90      2020-01-24 FALSE 30762106
958 2    23       102      2020-01-25 FALSE 30762106
959 3    23        89      2020-01-26 FALSE 30762106
960 4    23        94      2020-01-27 FALSE 30762106
    X2종출구교통량합계 서울인구수 승용차  승합차
955 919533             9911088    2711984 106504
956 903098             9911088    2711984 106504
957 903098             9911088    2711984 106504
958 903098             9911088    2711984 106504
959 903098             9911088    2711984 106504
960 903098             9911088    2711984 106504

'data.frame':	960 obs. of  10 variables:
 $ 일차              : int  0 1 2 3 4 0 1 2 3 4 ...
 $ 출발시간          : int  0 0 0 0 0 1 1 1 1 1 ...
 $ 소요시간          : int  91 132 83 87 84 88 129 82 85 82 ...
 $ 날짜              : Date, format: "2013-02-08" "2013-02-09" ...
 $ 눈비              : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ X1종출구교통량합계: int  11369763 11369763 11369763 11369763 11369763 7518962 7518962 7518962 7518962 7518962 ...
 $ X2종출구교통량합계: int  523201 523201 523201 523201 523201 470000 470000 470000 470000 470000 ...
 $ 서울인구수        : int  10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 ...
 $ 승용차            : int  2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 ...
 $ 승합차            : int  156871 156871 156871 156871 156871 156871 156871 156871 156871 156871 ...

In [2]:
model <- lm(소요시간 ~ . , data = sd[,-(4:5)])
model

Call:
lm(formula = 소요시간 ~ ., data = sd[, -(4:5)])

Coefficients:
       (Intercept)                일차            출발시간  X1종출구교통량합계
        -1.575e+03          -1.138e+01           1.229e+00           2.430e-07
X2종출구교통량합계          서울인구수              승용차              승합차
        -2.290e-06           8.496e-05           2.749e-04           8.160e-04

In [3]:
summary(model)

Call:
lm(formula = 소요시간 ~ ., data = sd[, -(4:5)])

Residuals:
    Min      1Q  Median      3Q     Max
-48.412 -17.215  -5.893  11.362 122.147

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)        -1.575e+03  4.825e+02  -3.264 0.001138 **
일차               -1.138e+01  6.447e-01 -17.646  < 2e-16 ***
출발시간            1.229e+00  1.536e-01   8.003 3.51e-15 ***
X1종출구교통량합계  2.430e-07  6.126e-08   3.966 7.84e-05 ***
X2종출구교통량합계 -2.290e-06  1.437e-06  -1.593 0.111402
서울인구수          8.496e-05  5.522e-05   1.539 0.124198
승용차              2.749e-04  8.120e-05   3.386 0.000739 ***
승합차              8.160e-04  7.591e-04   1.075 0.282691
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 28.25 on 952 degrees of freedom
Multiple R-squared:  0.3442,	Adjusted R-squared:  0.3394
F-statistic: 71.38 on 7 and 952 DF,  p-value: < 2.2e-16

In [4]:
reduced <- step(model, direction = "backward")

Start:  AIC=6422.74
소요시간 ~ 일차 + 출발시간 + X1종출구교통량합계 +
    X2종출구교통량합계 + 서울인구수 + 승용차 +
    승합차

                     Df Sum of Sq     RSS    AIC
- 승합차              1       922  760579 6421.9
<none>                             759657 6422.7
- 서울인구수          1      1889  761546 6423.1
- X2종출구교통량합계  1      2026  761683 6423.3
- 승용차              1      9147  768803 6432.2
- X1종출구교통량합계  1     12554  772211 6436.5
- 출발시간            1     51111  810767 6483.3
- 일차                1    248476 1008132 6692.4

Step:  AIC=6421.91
소요시간 ~ 일차 + 출발시간 + X1종출구교통량합계 +
    X2종출구교통량합계 + 서울인구수 + 승용차

                     Df Sum of Sq     RSS    AIC
<none>                             760579 6421.9
- X2종출구교통량합계  1      2251  762829 6422.7
- 승용차              1     11410  771989 6434.2
- X1종출구교통량합계  1     12830  773408 6436.0
- 서울인구수          1     19676  780254 6444.4
- 출발시간            1     50894  811473 6482.1
- 일차                1    248476 1009054 6691.3

In [5]:
summary(reduced)

Call:
lm(formula = 소요시간 ~ 일차 + 출발시간 + X1종출구교통량합계 +
    X2종출구교통량합계 + 서울인구수 + 승용차,
    data = sd[, -(4:5)])

Residuals:
    Min      1Q  Median      3Q     Max
-48.156 -17.179  -5.841  11.455 121.541

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)        -1.826e+03  4.220e+02  -4.328 1.66e-05 ***
일차               -1.138e+01  6.447e-01 -17.645  < 2e-16 ***
출발시간            1.227e+00  1.536e-01   7.986 4.01e-15 ***
X1종출구교통량합계  2.454e-07  6.122e-08   4.009 6.56e-05 ***
X2종출구교통량합계 -2.407e-06  1.433e-06  -1.679 0.093425 .
서울인구수          1.364e-04  2.748e-05   4.965 8.13e-07 ***
승용차              2.117e-04  5.599e-05   3.781 0.000166 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 28.25 on 953 degrees of freedom
Multiple R-squared:  0.3434,	Adjusted R-squared:  0.3393
F-statistic: 83.06 on 6 and 953 DF,  p-value: < 2.2e-16

In [8]:
library(randomForest)
library(caret)

In [10]:
samp<-createDataPartition(train$소요시간,p=0.7,list=F)

train<-sd
head(train)

data.train<-train[samp,]
str(data.train)

  일차 출발시간 소요시간 날짜       눈비 X1종출구교통량합계 X2종출구교통량합계
1 0    0         91      2013-02-08 TRUE 11369763           523201
2 1    0        132      2013-02-09 TRUE 11369763           523201
3 2    0         83      2013-02-10 TRUE 11369763           523201
4 3    0         87      2013-02-11 TRUE 11369763           523201
5 4    0         84      2013-02-12 TRUE 11369763           523201
6 0    1         88      2013-02-08 TRUE  7518962           470000
  서울인구수 승용차  승합차
1 10388055   2462515 156871
2 10388055   2462515 156871
3 10388055   2462515 156871
4 10388055   2462515 156871
5 10388055   2462515 156871
6 10388055   2462515 156871

'data.frame':	675 obs. of  10 variables:
 $ 일차              : int  0 1 2 3 4 0 1 3 0 3 ...
 $ 출발시간          : int  0 0 0 0 0 1 1 1 2 2 ...
 $ 소요시간          : int  91 132 83 87 84 88 129 85 88 89 ...
 $ 날짜              : Date, format: "2013-02-08" "2013-02-09" ...
 $ 눈비              : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ X1종출구교통량합계: int  11369763 11369763 11369763 11369763 11369763 7518962 7518962 7518962 5250235 5250235 ...
 $ X2종출구교통량합계: int  523201 523201 523201 523201 523201 470000 470000 470000 496078 496078 ...
 $ 서울인구수        : int  10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 ...
 $ 승용차            : int  2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 ...
 $ 승합차            : int  156871 156871 156871 156871 156871 156871 156871 156871 156871 156871 ...

In [18]:
data.test<-train[-samp,]
str(data.test)

'data.frame':	285 obs. of  10 variables:
 $ 일차              : int  2 4 1 2 0 3 0 2 4 2 ...
 $ 출발시간          : int  1 1 2 2 3 3 4 4 4 5 ...
 $ 소요시간          : int  82 82 121 102 87 84 91 93 84 106 ...
 $ 날짜              : Date, format: "2013-02-10" "2013-02-12" ...
 $ 눈비              : logi  TRUE FALSE TRUE TRUE TRUE TRUE ...
 $ X1종출구교통량합계: int  7518962 7518962 5250235 5250235 4230974 4230974 4975804 4975804 4975804 10667595 ...
 $ X2종출구교통량합계: int  470000 470000 496078 496078 624683 624683 874748 874748 874748 1498576 ...
 $ 서울인구수        : int  10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 10388055 ...
 $ 승용차            : int  2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 2462515 ...
 $ 승합차            : int  156871 156871 156871 156871 156871 156871 156871 156871 156871 156871 ...

In [19]:
rf<- randomForest(소요시간~.,data=data.train,ntree=100)

In [20]:
x<-subset(data.test,select=-소요시간)
y<-data.test$소요시간

In [21]:
pred<-predict(rf,x)
test<-data.frame(data.test$일차,data.test$출발시간,pred,y,ifelse((pred-pred*0.15<y&y<pred+pred*0.15),"true","false"))

In [22]:
#총 row 갯수
nrow(test)

[1] 285

In [23]:
#맞춘 row 갯수
sum(test$bool=="true")

[1] 0

In [17]:
#예측률 
sum(test$bool=="true")/nrow(test)

[1] 0